<div class="container mt-5">
    <h3>Result</h3>
    <p><%= @message %></p>
    <h3>Score</h3>
    <p><%= @total_score %></p>
    <%= link_to "Play again", new_path, class: "btn btn-outline-primary mt-4" %>
</div>